<div class="row-container">
  <div>{{patient.firstName}} {{patient.lastName}}</div>
  <div>{{patient.gender}}</div>
  <div>{{patient.dob}}</div>
  {{! if patient has entered some data today }}
  {{#if record}}
    {{!-- bgl --}}
    <div {{#if (validation record.BGL.figure dataSet.BGL.min dataSet.BGL.max)}}
      class="warning"
      {{/if}}
    >{{record.BGL.figure}}</div>

    {{!-- weight --}}
    <div {{#if (validation record.Weight.figure dataSet.Weight.min dataSet.Weight.max)}}
      class="warning"
      {{/if}}>{{record.Weight.figure}}</div>

    {{!-- insulin --}}
    <div {{#if (validation record.Insulin.figure dataSet.Insulin.min dataSet.Insulin.max)}}
      class="warning"
      {{/if}}>{{record.Insulin.figure}}</div>

    {{!-- exercise --}}
    <div {{#if (validation record.Exercise.figure dataSet.Exercise.min dataSet.Exercise.max)}}
      class="warning"
      {{/if}}>{{record.Exercise.figure}}</div>

    {{!-- comments --}}
    <div>
      {{#each comments}}
        <p class="comment">{{this}}</p>
      {{/each}}
    </div>
    {{! patient hasn't entered any data }}
  {{else}}
    <div>N/A</div>
    <div>N/A</div>
    <div>N/A</div>
    <div>N/A</div>
    <div>N/A</div>
  {{/if}}
</div>