<div class="flex-item hand" id="{{patient._id}}" >{{patient.firstName}} {{patient.lastName}}</div>
<div class="data box">
  <div class="flex-item">{{patient.gender}}</div>
  <div class="flex-item">{{patient.dob}}</div>    
  {{! BGL data}}
  {{> clinSingleData 
      data = todayRd.BGL.figure 
      min = patient.dataSet.BGL.min 
      max = patient.dataSet.BGL.max
  }}
  {{! Weight data}}
  {{> clinSingleData 
      data = todayRd.Weight.figure 
      min = patient.dataSet.Weight.min 
      max = patient.dataSet.Weight.max
  }}
  {{! Insulin data}}
  {{> clinSingleData 
      data = todayRd.Insulin.figure 
      min = patient.dataSet.Insulin.min 
      max = patient.dataSet.Insulin.max
  }}
  {{! Exercise data}}
  {{> clinSingleData 
      data = todayRd.Exercise.figure 
      min = patient.dataSet.Exercise.min 
      max = patient.dataSet.Exercise.max
  }}
  {{! comments}}
  {{#if (checkComment comments)}}
    <div class="flex-item comment">New</div>
  {{else}}
    <div class="flex-item">-</div>
  {{/if}}
</div>

<script>
  document.getElementById("{{patient._id}}").addEventListener("click", ()=>{
    window.location.href="/clinician/patients/{{patient._id}}";
  })
</script>