
            <div class="individual-data">
                <div class="date-data">
                    {{data.date}}
                </div>
                <div class="insulin-data">
                    {{data.insulin}}
                </div>
                <div class="weight-data">
                    {{data.weight}}
                </div>
                <div class="bgl-data">
                    {{data.bgl}}
                </div>
                <div class="exercise-data">
                    {{data.exercise}}
                </div>
            </div>
