<div class="individual-data">
  <div class="date-data">
    {{date}}
  </div>
  <div class="insulin-data">
    {{Insulin.figure}}
  </div>
  <div class="weight-data">
    {{Weight.figure}}
  </div>
  <div class="bgl-data">
    {{BGL.figure}}
  </div>
  <div class="exercise-data">
    {{Exercise.figure}}
  </div>
</div>