{{! a single data block}}
<div>
  <form
    class="block-container"
    action="/patient/addHealth/{{type}}"
    method="post"
  >
    {{! data already exist}}
    {{#if data}}
      {{! data section}}
      <div class="data-container {{type}}-color">
        <div class="upper-section">
          <div class="type-style">{{type}}</div>
          {{#if (in type required)}}
            <div class="star-style">*</div>
          {{/if}}
        </div>
        <input
          type="number"
          class="data-style {{type}}-color"
          name={{type}}
          value={{data.figure}}
          disabled
        />
        <div class="unit-style">{{unit}}</div>
        {{! desktop star}}
        {{#if (in type required)}}
          <div class="desktop-star-style">*</div>
        {{/if}}
      </div>
      {{! time section}}
      <div class="time-container">
        <input
          class="time-style {{type}}-border"
          value="{{data.time}}"
          disabled
        />
        <input
          type="submit"
          class="time-style-disabled"
          value="Save"
          disabled
        />
      </div>
      {{! comment section}}
      <textarea
        class="comment-style {{type}}-border"
        name="{{type}}Comment"
        placeholder="Add notes..."
        disabled
      >{{data.comment}}</textarea>
      {{! waiting for today's data}}
    {{else}}
      <div class="data-container {{type}}-color">
        <div class="upper-section">
          <label for="{{type}}" class="type-style">{{type}}</label>
          {{#if (in type required)}}
            <div class="star-style">*</div>
          {{/if}}
        </div>
        <input
          type="number"
          class="data-style {{type}}-color"
          name={{type}}
          id="{{type}}"
          required
        />
        <div class="unit-style">{{unit}}</div>
        {{! desktop star}}
        {{#if (in type required)}}
          <div class="desktop-star-style">*</div>
        {{/if}}
      </div>
      {{! time section}}
      <div class="time-container">
        <input class="time-style {{type}}-border" value=":" disabled />
        <input
          type="submit"
          value="Save"
          class="time-style {{type}}-border {{type}}-fill"
        />
      </div>
      {{! comment section}}
      <textarea
        autofocus
        class="comment-style {{type}}-border"
        name="{{type}}Comment"
        placeholder="Add notes..."
      ></textarea>
    {{/if}}
  </form>
</div>