<div class="grid-container">
  {{#each allRecords}}
    <div>
      aaa
    </div>
  {{/each}}
  <div class="engagement">
    <a href="/clinPEdit"><button class="btn-edit">Edit</button></a>
    <h1 style="color: #446275"><i>Patient Data</i></h1>
    <h2>
      <a
        href="/today.html"
        style="text-decoration: none; padding-left: 15px; color: #abb8c2"
        >Today</a
      >
      <a style="color: #446275">Past</a>
    </h2>
    <div class="data">
      <div class="sex-container">
        <h3 class="type-style">Sex</h3>
        <!-- {{#if healthRd.Insulin}}
          <h2 class="insulin-doses">{{healthRd.Insulin.figure}}</h2>
        {{else}} -->
        <h2 class="sex">N/A</h2>
      </div>
      <div class="age-container">
        <h3 class="type-style">Age</h3>
        <!-- {{#if healthRd.Insulin}}
          <h2 class="insulin-doses">{{healthRd.Insulin.figure}}</h2>
        {{else}} -->
        <h2 class="age">N/A</h2>
      </div>
      <div class="dob-container">
        <h3 class="type-style">DOB</h3>
        <!-- {{#if healthRd.Insulin}}
          <h2 class="insulin-doses">{{healthRd.Insulin.figure}}</h2>
        {{else}} -->
        <h2 class="dob">N/A</h2>
      </div>
      <h2>Mean</h2>
      <h2>Median</h2>
      <h2>Mode</h2>
      {{!-- Insulin --}}
      <div class="insulin-dose-container">
        <h3 class="type-style">Insulin (Doses)</h3>
        <h2 class="insulin-doses-mean">N/A</h2>
        <h2 class="insulin-doses-median">N/A</h2>
        <h2 class="insulin-doses-mode">N/A</h2>
      </div>
      <br />
      {{!-- Weight --}}
      <div class="weight-container">
        <h3 class="type-style">Weight (kg)</h3>
        <h2 class="weight-mean">N/A</h2>
        <h2 class="weight-median">N/A</h2>
        <h2 class="weight-mode">N/A</h2>
      </div>
      <br />
      {{!-- BGL --}}
      <div class="blood-glucose-container">
        <h3 class="type-style">Blood Glucose Level (nmol/L)</h3>
        <h2 class="blood-glucose-level-mean">N/A</h2>
        <h2 class="blood-glucose-level-median">N/A</h2>
        <h2 class="blood-glucose-level-mode">N/A</h2>
      </div>
      <br />
      {{!-- Exercise --}}
      <div class="exercise-container">
        <h3 class="type-style">Exercise (Steps)</h3>
        <h2 class="exercise-mean">N/A</h2>
        <h2 class="exercise-median">N/A</h2>
        <h2 class="exercise-mode">N/A</h2>
      </div>
    </div>
    <!-- clinician notes. do we need it here ? -->
    <div class="Notes">
      <h2>Notes</h2>
      <a href="/noteHistory"
        ><button class="btn-note-history">View Note History</button></a
      >
      <br />
      <input
        type="note"
        name="note"
        placeholder="Enter here"
        class="input-style"
      />
      <!-- supporting message -->
      <h2>Write Mary a message!</h2>
      <input
        type="message"
        name="message"
        placeholder="Enter here"
        class="input-style"
      />
    </div>
    <br />
  </div>
</div>
