<div class="grid-container">
  <div class="engagement">
    <div class="twoboxes">
      {{!-- patient detail --}}
      <div class="data">
        <h1 style="padding-left: 15px; padding-top: 10px; color: #446275; font-size: 28px;"><i>{{patient.firstName}} {{patient.lastName}}</i></h1>
        <h1 style="padding-left: 15px; padding-top: 10px; color: #446275; font-size: 24px;"><i>Patient Data</i></h1>
        <h2>
          <a style="padding-left: 15px; color: #446275; font-size: 18px; text-decoration: underline;">Today</a>
          <a
            href="/clinician/patients/past/{{patient._id}}"
            style="text-decoration: none; padding-left: 15px; color: #abb8c2; font-size: 18px;"
          >Past</a>
        </h2>
        <div class = "twocolumns">
          <div class = "SEXDOBAGE">
            {{! personal detail }}
            <div class="sex-container">
              <h3 class="type-style">Sex</h3>
              <h2 class="sex">{{patient.gender}}</h2>
            </div>
            <div class="age-container">
              <h3 class="type-style">Age</h3>
              <h2 class="age">{{age}}</h2>
            </div>
            <div class="dob-container">
              <h3 class="type-style">DOB</h3>
              <h2 class="dob">{{patient.dob}}</h2>
            </div>
          </div>
          <div class="measurements">
            {{! Insulin }}
            <div class="insulin-dose-container">
              <h3 class="type-style">Insulin (Doses)</h3>
              {{#if healthRd.Insulin}}
                <h2 class="insulin-doses unit-style">{{healthRd.Insulin.figure}}</h2>
              {{else}}
                <h2 class="insulin-doses unit-style">N/A</h2>
              {{/if}}
            </div>
            <br />
            {{! Weight }}
            <div class="weight-container">
              <h3 class="type-style">Weight (kg)</h3>
              {{#if healthRd.Weight}}
                <h2 class="weight">{{healthRd.Weight.figure}}</h2>
              {{else}}
                <h2 class="weight">N/A</h2>
              {{/if}}
            </div>
            <br />
            {{! BGL }}
            <div class="blood-glucose-container">
              <h3 class="type-style">Blood Glucose Level (nmol/L)</h3>
              {{#if healthRd.BGL}}
                <h2 class="blood-glucose-level">{{healthRd.BGL.figure}}</h2>
              {{else}}
                <h2 class="blood-glucose-level">N/A</h2>
              {{/if}}
            </div>
            <br />
            {{! Exercise }}
            <div class="exercise-container">
              <h3 class="type-style">Exercise (Steps)</h3>
              {{#if healthRd.Exercise}}
                <h2 class="exercise">{{healthRd.Exercise.figure}}</h2>
              {{else}}
                <h2 class="exercise">N/A</h2>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{!-- safty threshold --}}
      <div class="minmax">
        <form method="post" action="/clinician/patients/edit/{{patient._id}}">
          <div class="text">
            <h4 class="required">Req.</h4>
            <h4 class="mintext">Min</h4>
            <h4 class=":">:</h4>
            <h4 class="maxtext">Max</h4>
          </div>
          {{! insulin }}
          <div class="insulin-dose-container-mm">
            <h3 class="type-style">Insulin (doses)</h3>
            <label class="checkboxcont">
              <input type="checkbox" id ="Insulin">
              <span class="checkmark"></span>
            </label>
            <input class="datamin" type="number" id="Insulin-min" name="Insulin[min]" disabled
            value={{patient.dataSet.Insulin.min}}></input>
            <input class="datamax" type="number" id="Insulin-max" name="Insulin[max]" disabled
            value={{patient.dataSet.Insulin.max}}></input>
          </div>
              <br />
          {{! weight }}
          <div class="weight-container-mm">
            <h3 class="type-style">Weight (kg)</h3>
            <label class="checkboxcont">
              <input type="checkbox" id ="Weight">
              <span class="checkmark"></span>
            </label>
            <input class="datamin" type="number" id="Weight-min" name="Weight[min]" disabled
            value={{patient.dataSet.Weight.min}}></input>
            <input class="datamax" type="number" id="Weight-max" name="Weight[max]" disabled
            value={{patient.dataSet.Weight.max}}></input>
          </div>
          <br />
           {{! bgl }}
          <div class="blood-glucose-container-mm">
            <h3 class="type-style">Blood Glucose Level (nmol/L)</h3>
            <label class="checkboxcont">
              <input type="checkbox" id ="BGL">
              <span class="checkmark"></span>
            </label>
            <input class="datamin" type="number" id="BGL-min" name="BGL[min]" disabled
            value={{patient.dataSet.BGL.min}}></input>
            <input class="datamax" type="number" id="BGL-max" name="BGL[max]" disabled
            value={{patient.dataSet.BGL.max}}></input>
          </div>
          <br />
           {{! exercise }}
          <div class="exercise-container-mm">
            <h3 class="type-style">Exercise (Steps)</h3>
            <label class="checkboxcont">
              <input type="checkbox" id ="Exercise">
              <span class="checkmark"></span>
            </label>
            <input class="datamin" type="number" id="Exercise-min" name="Exercise[min]" disabled
            value={{patient.dataset.Exercise.min}}></input>
            <input class="datamax" type="number" id="Exercise-max" name="Exercise[max]" disabled
            value={{patient.dataSet.Exercise.max}}></input>
          </div>
          <button class="btn-save">Save</button></a>
        </form>
      </div>
    </div>
    {{! clinician notes }}
    <div class="bottomcontainer">
      <div class="Notes">
        <h2 style="padding-left: 10px; padding-top: 10px; color: #446275; font-size: 19px; float: left;">Notes</h2>
        <!-- Must be able to input Note -->
        <a href="/clinician/notes-page/{{patient._id}}"><button class="btn-note-history">View Note History</button></a>
        <br>
        <form method="post" action="/clinician/clin-notes/{{patient._id}}">
          <textarea
          type="note"
          name="note"
          placeholder="Enter here"
          class="input-style"
          ></textarea>
          <button class="btn-submit">Submit</button></a>
        </form>
      </div>
      {{! supporting message }}
      <div class = "Message">
        <form method="post" action="/clinician/support-msg/{{patient._id}}">
          <h2 style="padding-left: 10px; padding-top: 10px; color: #446275; font-size: 19px;">Write {{patient.firstName}} a message!</h2>
          <!-- Must be able to input Message -->
          <textarea
            type="message"
            name="message"
            placeholder="Enter here"
            class="input-style"
          ></textarea>
          <button class="btn-submit">Submit</button></a>
        </form>
      </div>
    </div>
  </div>
</div>
<footer class="layout-footer">
  <div> © Diabetes@Home  &nbsp;&nbsp;|&nbsp;&nbsp; P: 0123456789 &nbsp;&nbsp;|&nbsp;&nbsp; E: <a href="mailto:diabetes.home@gmail.com">diabetes.home@gmail.com</div>
</footer>   

<script>
  const dataArray = ["Insulin", "BGL", "Weight", "Exercise"]
  for (const oneType of dataArray){
    const typeCheckbox = document.getElementById(oneType);
    typeCheckbox.addEventListener("change", 
      ()=>{
            const min = document.getElementById(`${oneType}-min`);
            const max = document.getElementById(`${oneType}-max`);
            if(typeCheckbox.checked){ 
              min.removeAttribute("disabled");
              max.removeAttribute("disabled");
            }else{
              min.setAttribute("disabled", "");
              max.setAttribute("disabled", "");
              min.value = "";
              max.value = "";
            }
          }
        )
  }
</script>