<div class="grid-container">
  <div class="engagement">
    <div class="twoboxes">
      <div class="data">
        <h1 style="padding-left: 15px; padding-top: 10px; color: #446275; font-size: 28px;"><i>{{patient.firstName}} {{patient.lastName}}</i></h1>
        <h1 style="padding-left: 15px; padding-top: 10px; color: #446275; font-size: 24px;"><i>Patient Data</i></h1>
        <h2>
          <a style="padding-left: 15px; color: #446275; font-size: 18px; text-decoration: underline;">Today</a>
          <a
            href="/clinician/patients/past/{{patient._id}}"
            style="text-decoration: none; padding-left: 15px; color: #abb8c2; font-size: 18px;"
          >Past</a>
        </h2>
        <div class = "twocolumns">
          <div class = "SEXDOBAGE">
            {{! personal detail }}
            <div class="sex-container">
              <h3 class="type-style">Sex</h3>
              <h2 class="sex">{{patient.gender}}</h2>
            </div>
            <div class="age-container">
              <h3 class="type-style">Age</h3>
              <h2 class="age">{{age}}</h2>
            </div>
            <div class="dob-container">
              <h3 class="type-style">DOB</h3>
              <h2 class="dob">{{patient.dob}}</h2>
            </div>
          </div>
          <div class="measurements">
            {{! Insulin }}
            <div class="insulin-dose-container">
              <h3 class="type-style">Insulin (Doses)</h3>
              {{#if healthRd.Insulin}}
                <h2 class="insulin-doses unit-style">{{healthRd.Insulin.figure}}</h2>
              {{else}}
                <h2 class="insulin-doses unit-style">N/A</h2>
              {{/if}}
            </div>
            <br />
            {{! Weight }}
            <div class="weight-container">
              <h3 class="type-style">Weight (kg)</h3>
              {{#if healthRd.Weight}}
                <h2 class="weight">{{healthRd.Weight.figure}}</h2>
              {{else}}
                <h2 class="weight">N/A</h2>
              {{/if}}
            </div>
            <br />
            {{! BGL }}
            <div class="blood-glucose-container">
              <h3 class="type-style">Blood Glucose Level (nmol/L)</h3>
              {{#if healthRd.BGL}}
                <h2 class="blood-glucose-level">{{healthRd.BGL.figure}}</h2>
              {{else}}
                <h2 class="blood-glucose-level">N/A</h2>
              {{/if}}
            </div>
            <br />
            {{! Exercise }}
            <div class="exercise-container">
              <h3 class="type-style">Exercise (Steps)</h3>
              {{#if healthRd.Exercise}}
                <h2 class="exercise">{{healthRd.Exercise.figure}}</h2>
              {{else}}
                <h2 class="exercise">N/A</h2>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <div class="minmax">
        <h4>Min : Max</h4>
        <div class="insulin-dose-container">
          <h3 class="type-style">Insulin (doses)</h3>
          
          <h2>{{patient.dataSet.Insulin.min}}</h2>
          <h2>{{patient.dataSet.Insulin.max}}</h2>
        </div>
            <br />
        <div class="weight-container">
          <h3 class="type-style">Weight (kg)</h3>
          <h2 class="weight-minmax">{{healthRd.Weight.min}}</h2>
          <h2 class="weight-minmax">{{healthRd.Weight.max}}</h2>
        </div>
        <br />
        <div class="blood-glucose-container">
          <h3 class="type-style">Blood Glucose Level (nmol/L)</h3>
          <h2 class="blood-glucose-minmax">{{healthRd.BGL.min}}</h2>
          <h2 class="blood-glucose-minmax">{{healthRd.BGL.max}}</h2>
        </div>
        <br />
        <div class="exercise-container">
          <h3 class="type-style">Exercise (Steps)</h3>
          <h2 class="exercise-minmax">{{healthRd.exercise.min}}</h2>
          <h2 class="exercise-minmax">{{healthRd.exercise.max}}</h2>   
        </div>
        <h4>Make Req.</h4>
      </div>
    </div>
    {{! clinician notes }}
    <div class="bottomcontainer">
      <div class="Notes">
        <h2 style="padding-left: 10px; padding-top: 10px; color: #446275; font-size: 19px; float: left;">Notes</h2>
        <!-- Must be able to input Note -->
        <a href="/clinician/notes-page"><button class="btn-note-history">View Note History</button></a>
        <br>
        <textarea
        type="note"
        name="note"
        placeholder="Enter here"
        class="input-style"
        /></textarea>
        <button class="btn-submit">Submit</button></a>
      </div>
      <div class = "Message">
        <h2 style="padding-left: 10px; padding-top: 10px; color: #446275; font-size: 19px;">Write Mary a message!</h2>
        <!-- Must be able to input Message -->
        <textarea
        type="message"
        name="message"
        placeholder="Enter here"
        class="input-style"
        /></textarea>
        <button class="btn-submit">Submit</button></a>
      </div>
    </div>
  </div>
</div>
<footer class="layout-footer">
  <div> © Diabetes@Home  &nbsp;&nbsp;|&nbsp;&nbsp; P: 0123456789 &nbsp;&nbsp;|&nbsp;&nbsp; E: <a href="mailto:diabetes.home@gmail.com">diabetes.home@gmail.com</div>
</footer>   