<div class="grid-container">
 <div class="engagement">
    <h1 style="color: #446275;"><i>Your Engagement</i></h1>
    <div class="award-container">
        {{#gt progress 80}}
            <img src="Group 108.png" style="height: 40px; width: 40px;">
        {{/gt}}
    </div>
    {{#gt progress 50}}
        <div class="progress-circle over50 p{{progress}}">
            <span>{{progress}}%</span>
            <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
            </div>
        </div>
      {{! If progress not greater than 50 uses this code}}
    {{else}}
        <div class="progress-circle p{{progress}}">
            <span>{{progress}}%</span>
            <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
            </div>
        </div>
    {{/gt}}
</div>
    <div class="leaderboard-container">
        <h1 style="color: #446275;"><i>Leaderboard</i></h1>
        
        <ol>
            {{#each patient}}
            {{> singleRank}}
            {{/each}}
        </ol>

        {{#gt myRank 5}}
            <div class="first-rank">
                <p class="rank">{{myRnk}}</p>
                <p class="username">{{this.username}}</p>
                <p class="progress">{{this.engageRate}}%</p>
            </div>
        {{/gt}}
    </div>
</div>