<div class="grid-container">
 <div class="engagement">
    <h1 style="color: #446275;"><i>Your Engagement</i></h1>
    <div class="award-container">
        {{#gt myEngage.engageRate 80}}
            <img src="/image/icon/Award.png" style="height: 40px; width: 40px;">
        {{/gt}}
    </div>
    {{#gt myEngage.engageRate 50}}
        <div class="progress-circle over50 p{{myEngage.engageRate}}">
            <span>{{myEngage.engageRate}}%</span>
            <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
            </div>
        </div>
      {{! If progress not greater than 50 uses this code}}
    {{else}}
        <div class="progress-circle p{{myEngage.engageRate}}">
            <span>{{myEngage.engageRate}}%</span>
            <div class="left-half-clipper">
                <div class="first50-bar"></div>
                <div class="value-bar"></div>
            </div>
        </div>
    {{/gt}}
</div>
    <div class="leaderboard-container">
        <h1 style="color: #446275;"><i>Leaderboard</i></h1>
        <ul style="list-style-type: none;">
            {{#each firstFive}}
                    <li>{{> singleRank myEngage=../myEngage myRank=../myRank}}</li>
            {{/each}}
            
        </ul>
        {{#gt myRank 5}}
            <div class="first-rank">
                <p class="rank">{{myRank}}</p>
                <p class="username">Me</p>
                <p class="progress">{{myEngage.engageRate}}%</p>
            </div>
        {{/gt}}
    </div>
</div>